

		<h2>User info</h2>
			<div class="icon_div">

<%= attachment_image_tag(user, :image, :fill, 100, 100, format:'jpeg', fallback: "noimage.png",size: '100x100', class: "icon") %>

			</div>
		<table class="table">
			<thead>
				<tr>
					<th>name</th>
					<th><%= user.name %></th>
				</tr>
				<tr>
					<th>introduction</th>
					<th><%= user.introduction %></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<% if user.id == current_user.id %>
					<td><%= link_to "プロフィール編集", edit_user_path(current_user), class: "btn btn-success" %></td>
					<% end %>
				</tr>
				
			</tbody>
		</table>
		





<h2>New book</h2>



<%= form_for(book) do |f| %>

<h4>Title</h4>
<%= f.text_field :Title, class: "form-group form-control" %>

<h4>Opinion</h4>
<%= f.text_area :Opinion, class: "form-group form-control" %>
<br>
<%= f.submit "新規投稿", class: "btn btn-default" %>

<% end %>


